/* order & unorder list reset - start
================================================== */
.post_meta {
  font-size: 14px;
  color: $default_black;
  li {
    margin-bottom: 20px;
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
  a {
    display: block;
    color: $default_black;
    &:hover {
      color: $default_brown;
    }
  }
  i {
    margin-right: 5px;
  }
}
/* order & unorder list reset - end
================================================== */