/* default tags style - start
================================================== */
.tag_list {
  margin: -5px;
  li {
    padding: 5px;
  }
  a {
    display: block;
    line-height: 1;
    padding: 10px 24px;
    color: $default_color;
    background-color: #f6f6f6;
    &:hover {
      color: #ffffff;
      background-color: $default_brown;
    }
  }
}
/* default tags style - end
================================================== */