// font family
$body_font: 'Roboto', sans-serif;
$heading_font: 'Oswald', sans-serif;

// default color set
$default_gray: #f6f6f6;
$default_color: #7c7770;
$default_black: #1B1B1B;
$default_brown: #c7a17a;

// default transition
$default_transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);