/* blog page - start
================================================== */
.recent_post {
	display: flex;
	align-items: center;
	&:not(:last-child) {
		margin-bottom: 30px;
	}
	.item_image {
		display: block;
		min-width: 75px;
		overflow: hidden;
		border-radius: 3px;
		position: relative;
		margin-right: 15px;
		img {
			width: 100%;
			display: block;
			transition: $default_transition;
		}
	}
	&:hover {
		.item_image {
			img {
				transform: scale(1.08);
			}
		}
	}

	.item_title {
		display: inline-block;
		a {
			display: block;
			font-size: 16px;
			font-weight: 500;
			color: $default_black;
		}
	}
	&:hover {
		.item_title {
			a {
				color: $default_brown;
				text-decoration: underline;
			}
		}
	}

	.post_date {
		display: block;
		font-size: 12px;
		color: $default_brown;
	}
}
.text-white {
	.recent_post {
		.item_title {
			a {
				color: #ffffff;
			}
		}
		&:hover {
			.item_title {
				a {
					color: $default_brown;
				}
			}
		}
	}
}

.blog_grid {
	padding: 20px;
	margin-top: 30px;
	position: relative;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0px 7px 15px 0px rgba(225, 225, 225, 0.3);
	.post_date {
		top: 35px;
		left: 35px;
		z-index: 1;
		line-height: 1;
		color: #ffffff;
		font-size: 15px;
		font-weight: 700;
		padding: 15px 16px;
		position: absolute;
		border-radius: 3px;
		font-family: $heading_font;
	}

	.item_image {
		display: block;
		overflow: hidden;
		border-radius: 5px;
		position: relative;
		img {
			width: 100%;
			display: block;
			transition: $default_transition;
		}
	}
	&:hover {
		.item_image {
			img {
				transform: scale(1.08);
			}
		}
	}

	.item_content {
		padding: 25px 5px 5px;
	}
	.item_title {
		margin-bottom: 13px;
		display: inline-block;
		a {
			display: block;
			font-size: 20px;
			color: $default_black;
		}
	}
	&:hover {
		.item_title {
			a {
				color: $default_brown;
			}
		}
	}

	p {
		margin-bottom: 10px;
	}

	.btn_text {
		color: $default_brown;
	}

	.post_meta {
		font-size: 13px;
		margin-top: 14px;
		padding-top: 16px;
		border-top: 2px solid #f6f6f6;
		justify-content: space-between;
		li {
			margin: 0px;
		}
		a {
			color: #918f8d;
			&:hover {
				color: $default_brown;
			}
		}
		i {
			margin-right: 5px;
			color: $default_brown;
		}
	}
}

.blog_standard {
	margin-bottom: 40px;
	background-color: #ffffff;
	.item_image {
		display: block;
		overflow: hidden;
		position: relative;
		img {
			width: 100%;
			display: block;
			transition: $default_transition;
		}
	}
	&:hover {
		.item_image {
			img {
				transform: scale(1.08);
			}
		}
	}
	.video_btn1 {
		top: 50%;
		left: 50%;
		width: 80px;
		margin: 0px;
		height: 80px;
		font-size: 16px;
		position: absolute;
		background-color: #ffffff;
		transform: translate(-50%, -50%);
		&:before,
		&:after {
			background-color: #ffffff;
		}
	}
	.item_content {
		padding: 40px 30px;
	}
	.item_title {
		line-height: 1;
		margin-bottom: 30px;
		a {
			font-size: 30px;
			color: $default_black;
		}
	}
	&:hover {
		.item_title {
			a {
				color: $default_brown;
			}
		}
	}
	p {
		margin-bottom: 30px;
	}
}
/* blog page - end
================================================== */